<div class="container" [formGroup]="formGroup">
    <p>
      <mat-form-field class="mat-form-field" appearance="standard">
        <mat-label>Name of library</mat-label>
        <input formControlName="name" matInput>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="mat-form-field" appearance="standard">
        <mat-label>Country</mat-label>
        <input formControlName="country" matInput>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="mat-form-field" appearance="standard">
        <mat-label>City</mat-label>
        <input formControlName="city" matInput>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="mat-form-field" appearance="standard">
        <mat-label>Address</mat-label>
        <input formControlName="address" matInput>
      </mat-form-field>
    </p>
    <div class="buttons">
      <button mat-raised-button color="primary" (click)="submit(formGroup.value)" >Confirm</button>
      <button mat-raised-button>Cancel</button>
    </div>


</div>
