<div class="container">
  <p>
    <mat-form-field class="mat-form-field" appearance="standard">
      <mat-label>Name of library</mat-label>
      <input matInput>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="mat-form-field" appearance="standard">
      <mat-label>Country</mat-label>
      <input matInput>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="mat-form-field" appearance="standard">
      <mat-label>City</mat-label>
      <input matInput>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="mat-form-field" appearance="standard">
      <mat-label>Address</mat-label>
      <input matInput>
    </mat-form-field>
  </p>
  <div class="buttons">
      <button mat-raised-button color="primary">Confirm</button>
      <button mat-raised-button>Cancel</button>
  </div>

</div>
