.library-home-mat-form-field {
  min-width: 150px;
  max-width: 400px;
  width: 100%;
}



.library-home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1000px;
  background-color: #fafafa;
}

.library-home-form {
  display: flex;
  background: #fafafa;
  text-align: center;
  color: black;
  min-width: 450px;
  padding: 1px;
  align-content: space-around;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  border: solid 3px white;
  box-shadow: 0 30px 40px rgba(0,0,0,.1);
  border-radius: 25px;
  margin-top: 50px;
}
.library-home-buttons {
  display: flex;
  justify-content: center;
  max-width: 200px;
  margin: 0 auto;
  padding: 10px ;
}

.library-home-button {
  margin-left: 10px;
  margin-right: 10px;
}
